@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-lightcyan: hsl(193, 38%, 86%);
  --primary-neongreen: hsl(150, 100%, 66%);
  --neutral-grayishblue: hsla(216, 19%, 38%, 0.219);
  --neutral-darkgrayishblue: hsl(217, 19%, 24%);

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-darkgrayishblue);
  -webkit-font-smoothing: antialiased;
}

.advice {
  position: relative;
  max-width: 320px;
  height: 45vh;
  background: var(--neutral-grayishblue);
  border-radius: .5em;
  box-shadow: 0 0 10px 10px rgb(211 211 211 / 2%);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
}

.advice__id {
  text-align: center;
  margin: 1em 0;
  color: var(--primary-neongreen);

  font-size: 1rem;
}

.advice__text {
  text-align: center;
  padding: 0 1em;
  padding-top: 2em;
  margin-bottom: 1em;
  color: var(--primary-lightcyan);
}

.advice__pattern {
  /* width: 100%; */
  padding: 0 1em;
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.advice__dice {
  position: absolute;
  bottom: 0;
  left: 40%;
  top: 94%;
  width: 4rem;
  height: 4rem;
  background: var(--primary-neongreen);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: 3s infinite alternate slidein; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.advice__dice img {
  -webkit-animation: 2s rotate linear infinite;
  animation: 2s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.advice__dice:hover {
  box-shadow: 0 0 50px var(--primary-neongreen);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 1000px) {
  .advice {
    max-width: 500px;
  }

  .advice__dice {
    left: 44%;
  }
}